<style type="text/css">
	.sony_admin{max-width:1200px; margin:0 auto;}
	.sony_admin .pc{display: block}
	.sony_admin .mo{display: none}
	.sony_admin > div > a > img,
	.sony_admin > div > img{max-width:100%; display:inline-block !important;}
	.sony_admin .video_wrap{position: relative;width: 100%;height: 0;padding-bottom: 56.25%; z-index:119;}
	.sony_admin .video_wrap iframe,
	.sony_admin .video_wrap video{width: 100% ;height: 100%;position: absolute;top: 0;left: 0}

	@media(max-width: 768px) {
		.sony_admin .pc{display: none}
		.sony_admin .mo{display: block}
	}
</style>

<div class="sony_admin">
    <div class="video_wrap">
	    <iframe width="1200" height="674" src="https://www.youtube.com/embed/_pTQy-0SMBc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
	</div>
	<div><img src="https://contents.sony.co.kr/sony/contents/2465/images/2.jpg" alt="WH-1000XM6 제품 개요"></div>
</div>