@charset "UTF-8";

// Reset
@import "./base/reset";

// Var
@import "./base/var";

// Fonts 
@import "./base/fonts";

// Common
@import "./common/common";

// Container
@import "./components/layout/container";

// Header
@import "./components/layout/header";

// Main
@import "./components/layout/main";

// Page  
@import "./components/about";
@import "./components/career";
@import "./components/gsap";